body {
    background-image: url(1920x1080_mainpage_background_image.jpg);
    margin: 0px;
    padding: 0px;
}


.header {
    background-color:#101820ff;
    background-repeat: no-repeat;
}

h1 {
    color:#f2aa4cff
}


.header li {
    
    display: inline-block;
    text-align: center;
}

.header li a {
    color:#f2aa4cff;
    text-decoration: none;
    text-align: center;
    margin: 15px;
    padding: 1px;
}

.header li a:hover {
    background: #f2aa4cff;
    color: #101820ff;
}

.header ul li {
    font-size: 30px;
}

.main_page {
    color:#f2aa4cff;
    background: linear-gradient(#101820ff, transparent) no-repeat;
    font-size: 20px;
    text-align: center;
}

.main_page p {
    margin: 37px;
    padding: 3px;
}

.what_you_need_to_know {
    color:#f2aa4cff;
    text-align: left;
    background: linear-gradient(to bottom, #101820ff, transparent) no-repeat;
}

.big_a {
    font-size: 50px;
    color:red;
}

.how_to_protect_yourself strong {
    font-size: 20px;
}

.how_to_protect_yourself {
    background: linear-gradient(to bottom, #101820ff, transparent) no-repeat;
    color:#f2aa4cff;
    padding: 0px;
    margin: 0px;
}

.how_to_protect_yourself li {
    background: linear-gradient(to right, #101820ff, transparent) no-repeat;
    padding: 10px;
}

.how_to_protect_yourself strong {
    text-decoration: underline;
}
.what_you_need_to_know li {
    background: linear-gradient(to right, #101820ff, transparent) no-repeat;
    padding: 10px;
}

.what_you_need_to_know h2 {
    font-size: 35px;
}

.what_you_need_to_know p {
    margin: 20px;
    padding: 3px;       
}

.what_you_need_to_know strong {
    text-decoration: underline;
}

.types_of_hackers {
    color:#f2aa4cff;
    background: linear-gradient(to bottom, #101820ff, transparent) no-repeat;
}

.header ul li {
    display: inline;
    color: #101820ff;
}

.header ul li ul {
    display: none;
    position: center;
}

.header ul li:hover ul  {
    display: block;
    padding: 0px;
    margin: 0px;
}

.header ul li:hover {
    color: #101820ff;
}

.white_hat_hacker h1 {
    color: #f2aa4cff;
    font-size: 35px;
    text-decoration: underline;
}

.white_hat_hacker {
    text-align: center;
    color: #f2aa4cff;
    font-size: 20px;
    margin: 30px;
}

.types_of_hackers h2 {
    text-decoration: underline;
    font-size: 27px;
}

.types_of_hackers p {
    margin: 20px;
    padding: 3px;
}

.grey_hat h1 {
    color: #f2aa4cff;
    text-decoration: underline;
    font-size: 30px;
}

.grey_hat {
    color: #f2aa4cff;
    background: linear-gradient (to right, #101820ff, transparent) no-repeat;
    margin: 20px;
    text-align: center;
}

.grey_hat p {
    font-size: 20px;
    padding: 3px;
}

.black_hat {
    color: #f2aa4cff;
    background: linear-gradient (to right, #101820ff, transparent) no-repeat;
    margin: 20px;
    text-align: center;
}

.black_hat p {
    font-size: 20px;
    padding: 3px;
}