body {
    background-image: url(1920x1080_mainpage_background_image.jpg);
}


.header {
    background-image: linear-gradient(to bottom, #101820ff, transparent);
}

h1 {
    color:#f2aa4cff
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color:#f2aa4cff;
    text-decoration: none;
    text-align: center;
    padding: 14px 15px; 
}

li a:hover {
    color:#f2aa4cff;
}