body {
    background-image: url(1920x1080_mainpage_background_image.jpg);
    margin: 0px;
    padding: 0px;
}


.header {
    background-color:#101820ff;
    background-repeat: no-repeat;
}

h1 {
    color:#f2aa4cff
}

.header ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align:center;
}

.header li {
    
    display: inline-block;
    text-align: center;
}

.header li a {
    color:#f2aa4cff;
    text-decoration: none;
    text-align: center;
    padding: 14px 15px; 
}

.header li a:hover {
    color:#101820ff;
}

.header li:hover {
    background-color:#f2aa4cff;
}

.header ul li {
    font-size: 30px;
}

.main_page {
    color:#f2aa4cff;
    padding: 0px;
    margin: 5px;
    background: linear-gradient(#101820ff, transparent) no-repeat;
    font-size: 20px;
    text-align: center;

}

.what_you_need_to_know {
    color:#f2aa4cff;
    text-align: left;
    margin: 30px;
    background: linear-gradient(to bottom, #101820ff, transparent) no-repeat;
}

.big_a {
    font-size: 50px;
    color:red;
}

.how_to_protect_yourself strong {
    font-size: 20px;
}

.how_to_protect_yourself {
    background: linear-gradient(to bottom, #101820ff, transparent) no-repeat;
    color:#f2aa4cff;
    padding: 0px;
    margin: 0px;
}

.how_to_protect_yourself li {
    background: linear-gradient(to right, #101820ff, transparent) no-repeat;
    padding: 10px;
}

.how_to_protect_yourself strong {
    text-decoration: underline;
}
.what_you_need_to_know li {
    background: linear-gradient(to right, #101820ff, transparent) no-repeat;
    padding: 10px;
}

.what_you_need_to_know h2 {
    font-size: 35px;
}

.what_you_need_to_know strong {
    text-decoration: underline;
}

.types_of_hackers {
    color:#f2aa4cff;
    background: linear-gradient(to bottom, #101820ff, transparent) no-repeat;
}

.types_of_hackers table {
	padding: 5px;
	font-size: 15px
}

.dropdown_menu_hackers ul a {

	display: inline;
	margin: 0px;
	padding: 0px;
    text-decoration: none;
    color: #101820ff;
}

.dropdown_menu_hackers ul li {
	display: inline;
}

.dropdown_menu_hackers ul li:hover ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

.dropdown_menu_hackers ul li ul {
	position: center;
	width: 200px;
	display: none;
}

.dropdown_menu_hackers ul li ul li {
	background: #f2aa4cff;
	display: block;
}

.dropdown_menu_hackers ul li ul li a {
	display: inline !important;
	text-decoration: none;
}

.dropdown_menu_hackers ul li ul li a:hover {
    color: #f2aa4cff;
}

.dropdown_menu_hackers ul li ul li:hover {
	background: #101820ff;
}

.dropdown_menu_hackers {
	font-size: 30px;
	padding: 1px;
    background: #f2aa4cff;

}

.dropdown_menu_hackers a:visited {
	color: #101820ff;
}

.header ul li ul {
    display: none;
}